header{
    background-color: purple;
    color: white;
    height: 100px;
}
.saction{
background-color: blue;
color: white;
margin: 10px;
height: 30px;

}
main{
    display: flex;
}
article{
    width: 70%;
}
aside{
    width: 20%;
}
footer{
    background-color: blue;
    color: white;
    margin: 10px;
    text-align: center;
}
@media(max-width:416px){
    main{
        display: block;
    }
    aside{
        width: 100%;
    }
}